* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  border-radius: 50%;
}

body{
  background-image: url(/public/rick-and-morty-iphone-9ew6bppmkwd6poyc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}